<h1>My Todo</h1>
<table>
	<tr>
		<th>Title</th>
		<th>Due date</th>
		<th>Description</th>
		<th colspan="4"></th>
	</tr>
	<% @todos.each do |todo| %>
		<tr>
			<td><%= todo.title %></td>
			<td><%= todo.due_date %></td>
			<td><%= todo.description %></td>
			<td><%= link_to "Up", user_todo_up_url(todo), method: :patch if !todo.is_first %></td>
			<td><%= link_to "Down", user_todo_down_url(todo), method: :patch if !todo.is_last %></td>
			<td><%= link_to "Delete", user_todo_url(todo), method: :delete %></td>
			<td><%= link_to "Done", user_todo_done_url(todo), method: :patch %></td>
		</tr>
	<% end %>
</table>
<br/>
<%= link_to 'New', new_user_todo_path %><br/><br/>
<%= link_to "Sign out", delete_session_path, method: :delete %>